<div class="paroi-header {{#if header.class}}{{header.class}}{{/if}}" id="{{header.id}}">
    {{#if header.title}}<h1>{{localize header.title}}</h1>{{/if}}
    {{#if header.content}}<p class="hint">{{localize header.content}}</p>{{/if}}
</div>