.paroi-centered {
    text-align: center;
}
div.paroi-header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}
div.paroi-header .form-set {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 0.625em;
    flex-wrap: nowrap;
    align-items: center;
}
div.paroi-header .form-set .form-input {
    width: 100%;
}
div.paroi-footer {
    display: flex;
    flex-direction: row;
    gap: 0.625em;
    flex-wrap: nowrap;
    align-items: center;
}
div.paroi-footer .footer-button, div.paroi-header .header-button {
    width: 100%;
}
div.paroi-form .form-group .form-input .folder-display {
    margin-bottom: 10px;
}
div.paroi-form .form-group .form-input .folder-input {
    display: flex;
    flex-direction: row;
    gap: 0.625em;
    flex-wrap: nowrap;
    width: 100%;
}
div.paroi-form .form-group .form-input .folder-input .folder-input-button {
    min-width: var(--button-size);
}
div.paroi-form .form-group .form-field {
    display: flex;
}
div.paroi-form .form-set {
    margin-bottom: 0.625em;
}